.cloud-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow-x: hidden;
}

.cloud {
  background-image: url('/illustrations/cloud.png');
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 8rem;
  height: 8rem;
}