.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/backgrounds/backgroundLandingPage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.empty-space {
  height: 50vh;
}

@media (max-width: 720px) {
  .landing-page {
    background-image: linear-gradient(#17153b, #433d8b);
  }
  .empty-space {
    height: 10vh;
  }
}
